* {
  font-family: Arial, Helvetica, sans-serif;
  font: size 16px;
}
body {
  background-color: rgb(163, 146, 241);
}
main {
  border-radius: 10px;
  background-color: white;
  width: 500px;
  height: auto;
  margin: auto;
  padding: 30px;
  box-shadow: 3px 3px 5px black;
}
img.lado {
  float: right;
}
button {
  float: right;
}
a:hover {
  filter: contrast(30%);
}
a {
  transition: all 1s;
}
